{
 :database {
            :datasource-classname     "com.mysql.jdbc.jdbc2.optional.MysqlDataSource"
            :connection-uri           "jdbc:mysql://localhost:3306/nflow_clj"
            :username                 "suosittelu"
            :password                 "salakala"

            :auto-commit              true
            :max-lifetime             1800000

            :max-connections          4
            :register-mbeans          false
            :leak-detection-threshold 10000
            }

 :engine {
          :executor-group "foo"
          :no-work-sleep 2000
          :work-sleep 100
          :executor-expires 60000
          :batch-size 10
          :max-retries 10
          :retry-delay 1000
          }

 :workflows {
             :order-management/akuankka-tilaus
             {
              :accounting-api "http://www.example.com/accounting"
              :press-api "http://www.example.com/press"
              :smtp-server "mail.example.com"
              }
             }
 }